/Tareas/Arreglo/target/
/Tareas/Arreglo/nbproject/private/
/Tareas/Calculadora/nbproject/private/
/Tareas/MetododeBiseccion/dist/
/Tareas/Interfaz/nbproject/private/
/Tareas/Interfaz/build/
/Tareas/Interfaz/dist/
/Tareas/Ventana/nbproject/private/
/Tareas/Ventana/build/
/Tareas/Biseccion/nbproject/private/
/Tareas/Biseccion/build/
/Tareas/Biseccion/dist/
/Tareas/Empresa/nbproject/private/
/Tareas/Empresa/build/
/Tareas/Empresa/dist/
/Tareas/MetodosNumericos/nbproject/private/
/Tareas/MetodosNumericos/build/
/Tareas/MetodosNumericos/dist/
